/* clearfix --------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* */

body {
  background: url(../img/bg.png) repeat top left;
}

#main {
  margin-top: 85px;
}

section.item {
  background-color: rgba(255, 255, 255, 0.85);
  margin: 1em 0;
  padding: 30px;
  display: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px
  -webkit-box-shadow: 2px 2px 6px 1px #171717;
  -moz-box-shadow: 2px 2px 6px 1px #171717;
  box-shadow: 2px 2px 6px 1px #171717;
}

section.item .item_content .nico-thumbnail {
  float: left;
  margin: 5px 25px 15px 0;
}

p.nico-description {
  color: #555;
  line-height: 1.8;
}

@media screen and (max-width: 650px) {
  section.item h1 {
    font-size: 115%;
  }
  section.item p,
  section.item a {
    font-size: 80%;
  }
  section.item small {
    font-size: 100%;
  }
}
